<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="club.bobbychangliu.usercenter">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="club.bobbychangliu.baselibrary.common.BaseApplication"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:label="Register"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.RegisterActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>
</manifest>
